* {
    margin: 0;
    padding: 0;
}

.game {
    position: relative;
    overflow: hidden;
    border: 1px solid black;
    width: 700px;
    height: 900px;

    margin: 20px auto;
}

#game-background {
    position: relative;
    height: 2700px;
    background-image: url("../assets/images/road/3LaneHighway.png");
}

#game-canvas {
    top: 0;
    z-index: 999;
    position: absolute;
    height: 900px;
    width: 700px;
}
